body {
  margin: 0px;
}

#main-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

#bottom-container {
  margin: 10px;
}

#image {
  width: 1000px;
  height: 1000px;
  border: solid black 1px;
}

#crosshair {
  display: none;
  border: solid black 1px;
  border-radius: 55px;
}

#target-top {
  display: block;
  position: relative;
  left: 50px;
  width: 8px;
  height: 49px;
  border-bottom: solid 1px #ff0000;
  border-left: solid 1px #ff0000;
  border-right: solid 1px #ff0000;
}

#target-bottom {
  display: block;
  position: relative;
  left: 50px;
  top: 10px;
  width: 8px;
  height: 49px;
  border-top: solid 1px #ff0000;
  border-left: solid 1px #ff0000;
  border-right: solid 1px #ff0000;
}

#target-left {
  display: block;
  position: relative;
  top: -50px;
  width: 49px;
  height: 8px;
  border-top: solid 1px #ff0000;
  border-bottom: solid 1px #ff0000;
  border-right: solid 1px #ff0000;
}

#target-right {
  display: block;
  position: relative;
  top: -60px;
  left: 60px;
  width: 49px;
  height: 8px;
  border-top: solid 1px #ff0000;
  border-bottom: solid 1px #ff0000;
  border-left: solid 1px #ff0000;
}
